<div class="container">
  <table class="tabela">
    <thead class="tabela__cabecalho">
      <th class="tabela__cabecalho__conteudo">Data</th>
      <th class="tabela__cabecalho__conteudo">Valor</th>
      <th class="tabela__cabecalho__conteudo">Destino</th>
    </thead>
    <tbody *ngIf="extrato?.length > 0; else semExtrato">
      <tr class="tabela__linha" *ngFor="let transferencia of extrato">
        <td class="tabela__conteudo">{{transferencia?.data | date: "short"}}</td>
        <td class="tabela__conteudo">R$ {{transferencia?.valor}}</td>
        <td class="tabela__conteudo">{{transferencia?.destino}}</td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #semExtrato>
  <h4>Nenhuma transferência realizada</h4>
</ng-template>
