.titulo {
  text-align: center;
  font-size: 24px;
  margin-bottom: 16px;
  color:var(--primary);
}
/*
  * BEM - BLOCK ELEMENT MODIFIER
  * <nome-classe-el-bloco-PAI>__<el-filho> (BLOCK ELEMENT) => classe para o elemento filho está contido dentro do bloco Pai
  * <nome-classe-el-bloco>--<nome-modificação> (MODIFIER) => modificações no elemento pai
*/
.tabela {
  text-align: center;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);

  &__cabecalho {
    color: var(--primary);

    &__conteudo {
      padding: 10px;
      border-bottom: 2px solid green;
    }
  }

  &__linha {
    margin-bottom: 10px;
    border-radius: 4px;

    &:last-child {
      .tabela__conteudo {
        border-bottom: none;
      }
    }
  }

  &__conteudo {
    padding: 10px;
    border-bottom: 1px solid var(--cinza-claro);
  }
}
